[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
opencv-python = "*"
jupyter = "*"
torch = "*"
scikit-learn = "*"
tqdm = "*"
wheel = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.8"
